{% extends '@layout/default.html.twig' %}

{% block title %}Action Overview{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><span>Home</span></li>
    <li class="breadcrumb-item active"><span>Edit preference</span></li>
{% endblock %}

{% block content %}
    <div class="container-lg">
        <div class="card mb-4">
            <div class="card-body">
                <div>
                    <div>
                        <h4 class="card-title mb-0">Preference Settings</h4>
                    </div>
                    <div class="d-none d-md-block">
                        <form class="row g-3" method="post">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12">
                                        <label for="preferenceUID" class="form-label">UID</label>
                                        <input
                                                type="text"
                                                class="form-control"
                                                value="{{ preference is not null ? preference.uid : uid }}"
                                                id="preferenceUID"
                                                name="UID"
                                                required
                                                {{ preference is not null ? readonly }}
                                        >
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        {% for ingredient in ingredients %}
                                            <div class="row">
                                                <div class="col-5" title="{{ ingredient.description }}">
                                                    {{ ingredient.description }}
                                                </div>
                                                <div class="col-6">
                                                    <div class="row">
                                                        <div class="col-5">
                                                        </div>
                                                        <div class="col-7">
                                                            <input
                                                                    type="range"
                                                                    class="form-range depend"
                                                                    value="{{ preference is not null ?
                                                                    preferenceIngredients[ingredient.id] is defined ?
                                                                    preferenceIngredients[ingredient.id]
                                                                    : 0
                                                                    : 0 }}"
                                                                    id="ingredient-{{ ingredient.id }}"
                                                                    name="ingredient-{{ ingredient.id }}"
                                                                    min="0"
                                                                    max="100"
                                                                    step="1"
                                                                    {% if loop.last %}
                                                                    aria-describedby="inputError"
                                                                    {% endif %}
                                                            >
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-1">
                                                    <label class="form-label" for="ingredient-{{ ingredient.id }}" id="ingredient-{{ ingredient.id }}-value">
                                                        {{ preference is not null ?
                                                        preferenceIngredients[ingredient.id] is defined ?
                                                        preferenceIngredients[ingredient.id]
                                                        : 0
                                                        : 0 }}%
                                                    </label>
                                                </div>
                                            </div>
                                        {% endfor %}
                                        <div class="row">
                                            <div class="col-12">
                                                {% if error %}
                                                    <div id="inputError" class="form-control is-invalid">
                                                        {% if percentageError %}
                                                            You must have 100% of ingredients in your drink
                                                        {% endif %}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 text-end">

                                        <button class="btn btn-primary" type="submit">Save</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="vendors/@coreui/utils/js/coreui-utils.js"></script>
    <script src="js/main.js"></script>
    <script>
        var depends = document.querySelectorAll('.depend');
        [].forEach.call(depends, function (depend) {
            depend.onchange = function () {
                setLabel(this, this.value);
                calculateOthers(this);
            }
        });

        function calculateOthers(current) {
            var input = current.value;
            var max = 100;
            var delta = max - parseInt(input);
            var sum = 0;
            var partial = 0;
            var siblings = [];

            // Sum of all siblings
            [].forEach.call(depends, function (depend) {
                if (current != depend) {
                    siblings.push(depend); // Register as sibling
                    sum += +depend.value;
                }
            });

            // Update all the siblings
            siblings.forEach(function (subling, i) {

                var val = +subling.value;
                var fraction = 0;

                // Calculate fraction
                if (sum <= 0) {
                    fraction = 1 / (depends.length - 1)
                } else {
                    fraction = val / sum;
                }

                // The last element will correct rounding errors
                if (i >= depends.length - 1) {
                    val = max - partial;
                } else {
                    val = Math.round(delta * fraction);
                    partial += val;
                }

                // Check if total of all range is greater than max value
                var total = partial + parseInt(input);
                if (total > max) {
                    var diff = total - max; // Calculate the difference
                    val = val - diff; // Update the value
                    partial = partial - diff;
                }

                setLabel(subling, val);
            });
        }

        function setLabel(el, value) {
            var label = document.getElementById(el.id + '-value')
            label.innerHTML = value+"%";
            el.value = value;
        }
    </script>
{% endblock %}