{% extends '@layout/default.html.twig' %}

{% block title %}Action Overview{% endblock %}

{% block content %}
    <div class="container-lg">
        <div class="card mb-4">
            <div class="card-body">
                <div>
                    <div>
                        <h4 class="card-title mb-0">Actions Overview</h4>
                    </div>
                    <div class="d-none d-md-block">
                        <form class="row g-3" method="post">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12">
                                        <label for="preferenceUID" class="form-label">UID</label>
                                        <input
                                                type="text"
                                                class="form-control"
                                                value="{{ preference is not null ? preference.uid : uid }}"
                                                id="preferenceUID"
                                                name="UID"
                                                required
                                                readonly
                                        >
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        {% for ingredient in ingredients %}
                                            <div class="row">
                                                <div class="col-8" title="{{ ingredient.description }}">
                                                    {{ ingredient.description }}
                                                </div>
                                                <div class="col-4">
                                                    <label for="preference-{{ ingredient.id }}" class="form-label">Percentage</label>
                                                    <input
                                                            type="text"
                                                            class="form-control"
                                                            value="{{ preference is not null ?
                                                            preferenceIngredients[ingredient.id] is defined ?
                                                            preferenceIngredients[ingredient.id]
                                                            : 0
                                                            : 0 }}"
                                                            id="ingredient-{{ ingredient.id }}"
                                                            name="ingredient-{{ ingredient.id }}"
                                                    >
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 text-end">
                                        <button class="btn btn-primary" type="submit">Save</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
<script src="vendors/chart.js/js/chart.min.js"></script>
<script src="vendors/@coreui/chartjs/js/coreui-chartjs.js"></script>
<script src="vendors/@coreui/utils/js/coreui-utils.js"></script>
<script src="js/main.js"></script>
{% endblock %}